

同学们好，本次作业的主要内容为使用pandas进行数据预处理。希望这两天你们已经从Python的课程内容中回过神来了。
没有数据的分析是无源之水，能够熟练处理数据是成为合格的数据分析师的基本要求，希望大家在今后多多实战，成为数据大师。

本次作业将使用公开标普500的股票数据。
https://www.kaggle.com/dgawlik/nyse#prices-split-adjusted.csv

作业的形式以问答为主，因为不涉及过长的代码，核心是数据的操作，所以这里没有太多的代码模板可供大家参考。
希望大家能从搜索引擎（google/bing）问答社区（stackoverflow）或者[官方文档](https://pandas.pydata.org/pandas-docs/stable/user_guide/index.html)或者我提供的jupyter notebooks 中找到回答问题需要的方法。
请时刻牢记数据的增删改查四种原子操作，思考我们的问题可以被如何分解。

那么首先，我们要import pandas

In [1]:
import pandas as pd
import os
path1 = r'./fundamentals.csv'
print(os.path.abspath(path1))
df = pd.read_csv(path1,index_col='Period Ending')
#print( [column for column in df] )
#print(df[7:22]['Net Income'])
print(df.loc[['2015-12-31'],['Net Income']].mean())
print(df.loc[['2015-12-31'],['Net Income']].max()-df.loc[['2015-12-31'],['Net Income']].min())
# 反馈所在列 df[df['Net Income'].isin([5.963000e+09])]

C:\Users\aw101\fundamentals.csv
Net Income    1.447248e+09
dtype: float64
Net Income    4.797000e+10
dtype: float64

In [89]:
import datetime as dt
#parser = lambda date: pd.datetime.strptime(date,'%d%b%Y') #字符串转换为时间变量
df2 =  pd.read_csv(path1,parse_dates=[2])
df2 = pd.DataFrame(df2,columns = ['Period Ending','Fixed Assets','Total Assets','Ticker Symbol'])
df2 = df2.set_index('Period Ending')
df2 = df2['2016']
df2 = df2[df2['Fixed Assets']>0]   #去除资产为0的数字

df2['assetratio'] = (df2['Fixed Assets']) / (df2['Total Assets']) 
print(df2['assetratio'].mean())
_min = df2['assetratio'].min()
print(_min)
df2[df2['assetratio'].isin([_min])]['Ticker Symbol']
#print(df2.head(9))

0.24652320884591447
0.0030655972015790236

Period Ending
2016-12-31    PFG
Name: Ticker Symbol, dtype: object

# 1. 从fundemantals.csv开始！

fundemantals.csv 是这些股票的年报数据

请用数据回答以下问题：

1. S&P500股票在2015年`net income`的均值是多少？最大值比最小值多多少？（每问10分，共计20分）

 2015:
  Mean:1.447248e+09
  Diff:4.797000e+10
 

2. S&P500股票在2016年的固定资产（fixed assets）占总资产(total assets)比例的均值是多少？固定资产占总资产比例最小的股票是的代码（ticker symbol）是什么？（每问10分，共计20分）

0.24652320884591447
0.0030655972015790236
Period Ending
2016-12-31    PFG

In [51]:
import pandas as pd
path2 = './securities.csv'
dfs = pd.read_csv(path2,parse_dates=[6])
dfs = pd.DataFrame(dfs,columns = ['Ticker symbol','GICS Sector','Address of Headquarters','Date first added'])
dfs = dfs.dropna(subset=['GICS Sector','Date first added'])
dfs = dfs.sort_values(by = ['Date first added'])
_group = dfs.loc[:,['Ticker symbol','Date first added']].groupby(dfs['GICS Sector']) 

print(u'最早')
print('*'*18)
for name,group in _group:
    print(name)    
    print(group.iloc[0])
    
print('/n'*3)
print(u'最晚') 
print('*'*18)
dfs = dfs.sort_values(by=['Date first added'],ascending = True )
_group2 = dfs.loc[:,['Ticker symbol','Date first added']].groupby(dfs['Address of Headquarters'])
for name2,group2 in _group2:
    print(name2)
    print(group2.iloc[0])
print(group2.shape)

#print(dfs.head(20))
#print([column for column in dfs])
#print(dfs.head())
#print(dfs.shape)

最早
******************
Consumer Discretionary
Ticker symbol                       MCD
Date first added    1970-06-30 00:00:00
Name: 296, dtype: object
Consumer Staples
Ticker symbol                       GIS
Date first added    1969-03-31 00:00:00
Name: 207, dtype: object
Energy
Ticker symbol                       SLB
Date first added    1965-03-31 00:00:00
Name: 399, dtype: object
Financials
Ticker symbol                       JPM
Date first added    1975-06-30 00:00:00
Name: 255, dtype: object
Health Care
Ticker symbol                       ABT
Date first added    1964-03-31 00:00:00
Name: 1, dtype: object
Industrials
Ticker symbol                       HON
Date first added    1964-03-31 00:00:00
Name: 230, dtype: object
Information Technology
Ticker symbol                       HPQ
Date first added    1974-12-31 00:00:00
Name: 233, dtype: object
Materials
Ticker symbol                       SHW
Date first added    1964-06-30 00:00:00
Name: 404, dtype: object
Real Estate
Ticker symbol                       AVB
Date first added    2007-01-10 00:00:00
Name: 56, dtype: object
Telecommunications Services
Ticker symbol                         T
Date first added    1983-11-30 00:00:00
Name: 51, dtype: object
Utilities
Ticker symbol                       DUK
Date first added    1976-06-30 00:00:00
Name: 152, dtype: object
/n/n/n
最晚
******************
Allentown, Pennsylvania
Ticker symbol                       APD
Date first added    1985-04-30 00:00:00
Name: 13, dtype: object
Amsterdam, New York
Ticker symbol                       MHK
Date first added    2013-12-23 00:00:00
Name: 308, dtype: object
Arlington, Virginia[3]
Ticker symbol                       AVB
Date first added    2007-01-10 00:00:00
Name: 56, dtype: object
Atlanta, Georgia
Ticker symbol                       GPC
Date first added    1973-12-31 00:00:00
Name: 209, dtype: object
Auburn Hills, Michigan
Ticker symbol                       BWA
Date first added    2011-12-19 00:00:00
Name: 72, dtype: object
Austin, Minnesota
Ticker symbol                       HRL
Date first added    2009-03-04 00:00:00
Name: 231, dtype: object
Baltimore, Maryland
Ticker symbol                        UA
Date first added    2014-05-01 00:00:00
Name: 455, dtype: object
Baton Rouge, Louisiana
Ticker symbol                       ALB
Date first added    2016-07-01 00:00:00
Name: 16, dtype: object
Bellevue, Washington
Ticker symbol                      PCAR
Date first added    1980-12-31 00:00:00
Name: 345, dtype: object
Bentonville, Arkansas
Ticker symbol                       WMT
Date first added    1982-08-31 00:00:00
Name: 478, dtype: object
Berwyn, Pennsylvania
Ticker symbol                       AME
Date first added    2013-09-23 00:00:00
Name: 36, dtype: object
Bethesda, Maryland
Ticker symbol                       LMT
Date first added    1984-07-31 00:00:00
Name: 279, dtype: object
Beverly, Massachusetts
Ticker symbol                       AMG
Date first added    2014-07-01 00:00:00
Name: 10, dtype: object
Boise, Idaho
Ticker symbol                        MU
Date first added    1994-09-27 00:00:00
Name: 305, dtype: object
Bolingbrook, Illinois
Ticker symbol                      ULTA
Date first added    2016-04-18 00:00:00
Name: 454, dtype: object
Boston, Massachusetts
Ticker symbol                       AMT
Date first added    2007-11-19 00:00:00
Name: 32, dtype: object
Brentwood, Tennessee
Ticker symbol                      TSCO
Date first added    2014-01-24 00:00:00
Name: 445, dtype: object
Bridgeport, Connecticut
Ticker symbol                      PBCT
Date first added    2008-11-13 00:00:00
Name: 351, dtype: object
Broomfield, Colorado
Ticker symbol                       BLL
Date first added    1984-10-31 00:00:00
Name: 59, dtype: object
Burbank, California
Ticker symbol                       DIS
Date first added    1976-06-30 00:00:00
Name: 438, dtype: object
Cambridge, Massachusetts
Ticker symbol                      AKAM
Date first added    2007-07-12 00:00:00
Name: 14, dtype: object
Cayce, South Carolina
Ticker symbol                       SCG
Date first added    2009-01-02 00:00:00
Name: 398, dtype: object
Chandler, Arizona
Ticker symbol                      MCHP
Date first added    2007-09-07 00:00:00
Name: 304, dtype: object
Charlotte, North Carolina
Ticker symbol                       DUK
Date first added    1976-06-30 00:00:00
Name: 152, dtype: object
Chattanooga, Tennessee
Ticker symbol                       UNM
Date first added    1994-03-01 00:00:00
Name: 464, dtype: object
Chesapeake, Virginia
Ticker symbol                      DLTR
Date first added    2011-12-19 00:00:00
Name: 145, dtype: object
Cheshire, Connecticut
Ticker symbol                      ALXN
Date first added    2012-05-25 00:00:00
Name: 17, dtype: object
Chicago, Illinois
Ticker symbol                       VTR
Date first added    2009-03-04 00:00:00
Name: 469, dtype: object
Cincinnati, Ohio
Ticker symbol                       SNI
Date first added    2008-07-01 00:00:00
Name: 400, dtype: object
Cleveland, Ohio
Ticker symbol                       SHW
Date first added    1964-06-30 00:00:00
Name: 404, dtype: object
Columbus, Georgia
Ticker symbol                       TSS
Date first added    2008-01-02 00:00:00
Name: 444, dtype: object
Columbus, Indiana
Ticker symbol                       CMI
Date first added    1965-03-31 00:00:00
Name: 129, dtype: object
Columbus, Ohio
Ticker symbol                        LB
Date first added    1983-09-30 00:00:00
Name: 267, dtype: object
Cool Valley, Missouri
Ticker symbol                      ESRX
Date first added    2003-09-25 00:00:00
Name: 177, dtype: object
Cork, Ireland
Ticker symbol                       JCI
Date first added    2010-08-27 00:00:00
Name: 254, dtype: object
Corona, California
Ticker symbol                      MNST
Date first added    2012-06-28 00:00:00
Name: 312, dtype: object
Creve Coeur, Missouri
Ticker symbol                       MON
Date first added    2002-08-07 00:00:00
Name: 311, dtype: object
Cupertino, California
Ticker symbol                      AAPL
Date first added    1982-11-30 00:00:00
Name: 45, dtype: object
Curaçao, Kingdom of the Netherlands
Ticker symbol                       SLB
Date first added    1965-03-31 00:00:00
Name: 399, dtype: object
Dallas, Texas
Ticker symbol                         T
Date first added    1983-11-30 00:00:00
Name: 51, dtype: object
Danbury, Connecticut
Ticker symbol                        PX
Date first added    1992-07-01 00:00:00
Name: 366, dtype: object
Decatur, Illinois
Ticker symbol                       ADM
Date first added    1981-07-29 00:00:00
Name: 47, dtype: object
Deerfield, Illinois
Ticker symbol                       BAX
Date first added    1972-09-30 00:00:00
Name: 62, dtype: object
Denver, Colorado
Ticker symbol                       NEM
Date first added    1969-06-30 00:00:00
Name: 325, dtype: object
Detroit, Michigan
Ticker symbol                        GM
Date first added    2013-06-06 00:00:00
Name: 208, dtype: object
Downers Grove, Illinois
Ticker symbol                       DOV
Date first added    1985-10-31 00:00:00
Name: 147, dtype: object
Dublin, Ireland
Ticker symbol                       MDT
Date first added    1986-10-31 00:00:00
Name: 299, dtype: object
El Segundo, California
Ticker symbol                       MAT
Date first added    1982-03-31 00:00:00
Name: 294, dtype: object
Everett, Washington
Ticker symbol                       FTV
Date first added    2016-07-01 00:00:00
Name: 197, dtype: object
Ewing, New Jersey
Ticker symbol                       CHD
Date first added    2015-12-29 00:00:00
Name: 101, dtype: object
Falls Church, Virginia
Ticker symbol                      CSRA
Date first added    2015-12-01 00:00:00
Name: 127, dtype: object
Ferguson, Missouri
Ticker symbol                       EMR
Date first added    1965-03-31 00:00:00
Name: 162, dtype: object
Findlay, Ohio
Ticker symbol                       MPC
Date first added    2011-07-01 00:00:00
Name: 288, dtype: object
Florham Park, New Jersey
Ticker symbol                       ZTS
Date first added    2013-06-21 00:00:00
Name: 504, dtype: object
Fort Worth, Texas
Ticker symbol                       RRC
Date first added    2007-12-21 00:00:00
Name: 381, dtype: object
Framingham, Massachusetts
Ticker symbol                       TJX
Date first added    1985-09-30 00:00:00
Name: 442, dtype: object
Franklin Lakes, New Jersey
Ticker symbol                       BDX
Date first added    1972-09-30 00:00:00
Name: 64, dtype: object
Fremont, California
Ticker symbol                      LRCX
Date first added    2012-06-29 00:00:00
Name: 270, dtype: object
Gillingham, Kent, United Kingdom
Ticker symbol                      DLPH
Date first added    2012-12-24 00:00:00
Name: 136, dtype: object
Glendale, California
Ticker symbol                       AVY
Date first added    1987-12-31 00:00:00
Name: 57, dtype: object
Glenview, Illinois
Ticker symbol                       ITW
Date first added    1986-02-28 00:00:00
Name: 237, dtype: object
Golden Valley, Minnesota
Ticker symbol                       GIS
Date first added    1969-03-31 00:00:00
Name: 207, dtype: object
Goodlettsville, Tennessee
Ticker symbol                        DG
Date first added    2012-12-03 00:00:00
Name: 144, dtype: object
Greensboro, North Carolina
Ticker symbol                       VFC
Date first added    1979-06-30 00:00:00
Name: 466, dtype: object
Hamilton, Bermuda
Ticker symbol                       SIG
Date first added    2015-07-29 00:00:00
Name: 405, dtype: object
Harrison, New York
Ticker symbol                        MA
Date first added    2008-07-18 00:00:00
Name: 293, dtype: object
Hartford, Connecticut
Ticker symbol                       AET
Date first added    1976-06-30 00:00:00
Name: 9, dtype: object
Highlands Ranch, Colorado
Ticker symbol                       UDR
Date first added    2016-03-07 00:00:00
Name: 453, dtype: object
Houston, Texas
Ticker symbol                       CNP
Date first added    1985-07-31 00:00:00
Name: 91, dtype: object
Houston, Texas[6]
Ticker symbol                       SWN
Date first added    2008-06-06 00:00:00
Name: 412, dtype: object
Indianapolis, Indiana
Ticker symbol                       LLY
Date first added    1970-12-31 00:00:00
Name: 275, dtype: object
Irvine, California
Ticker symbol                       WDC
Date first added    2009-07-01 00:00:00
Name: 485, dtype: object
Irving, Texas
Ticker symbol                       FLR
Date first added    1980-03-31 00:00:00
Name: 192, dtype: object
Islandia, New York
Ticker symbol                        CA
Date first added    1987-07-31 00:00:00
Name: 79, dtype: object
Issaquah, Washington
Ticker symbol                      COST
Date first added    1993-10-01 00:00:00
Name: 124, dtype: object
Itasca, Illinois
Ticker symbol                       AJG
Date first added    2016-05-31 00:00:00
Name: 49, dtype: object
Jacksonville, Florida
Ticker symbol                       CSX
Date first added    1967-09-30 00:00:00
Name: 128, dtype: object
Jersey City, New Jersey
Ticker symbol                      VRSK
Date first added    2015-10-08 00:00:00
Name: 471, dtype: object
Juno Beach, Florida
Ticker symbol                       NEE
Date first added    1976-06-30 00:00:00
Name: 328, dtype: object
Kansas City, Missouri
Ticker symbol                       HRB
Date first added    1986-11-30 00:00:00
Name: 70, dtype: object
Kenosha, Wisconsin
Ticker symbol                       SNA
Date first added    1982-09-30 00:00:00
Name: 409, dtype: object
King of Prussia, Pennsylvania
Ticker symbol                       UHS
Date first added    2014-09-20 00:00:00
Name: 463, dtype: object
Kingsport, Tennessee
Ticker symbol                       EMN
Date first added    1994-01-01 00:00:00
Name: 155, dtype: object
Lake Forest, Illinois
Ticker symbol                       GWW
Date first added    1981-06-30 00:00:00
Name: 214, dtype: object
Las Vegas, Nevada
Ticker symbol                      WYNN
Date first added    2008-11-14 00:00:00
Name: 494, dtype: object
London, United Kingdom
Ticker symbol                      WLTW
Date first added    2016-01-05 00:00:00
Name: 492, dtype: object
Long Beach, California
Ticker symbol                       HCP
Date first added    2008-03-31 00:00:00
Name: 223, dtype: object
Los Angeles, California
Ticker symbol                       OXY
Date first added    1982-12-31 00:00:00
Name: 341, dtype: object
Los Gatos, California
Ticker symbol                      NFLX
Date first added    2010-12-20 00:00:00
Name: 322, dtype: object
Louisville, Kentucky
Ticker symbol                      BF.B
Date first added    1982-10-31 00:00:00
Name: 77, dtype: object
Lowell, Arkansas
Ticker symbol                      JBHT
Date first added    2015-07-01 00:00:00
Name: 250, dtype: object
Madison, Wisconsin
Ticker symbol                       LNT
Date first added    2016-07-01 00:00:00
Name: 21, dtype: object
Marlborough, Massachusetts
Ticker symbol                      HOLX
Date first added    2016-03-30 00:00:00
Name: 228, dtype: object
McKinney, Texas
Ticker symbol                       TMK
Date first added    1989-04-30 00:00:00
Name: 443, dtype: object
McLean, Virginia
Ticker symbol                      TGNA
Date first added    1975-12-31 00:00:00
Name: 427, dtype: object
Melbourne, Florida
Ticker symbol                       HRS
Date first added    2008-09-22 00:00:00
Name: 219, dtype: object
Melville, New York
Ticker symbol                      HSIC
Date first added    2015-03-17 00:00:00
Name: 225, dtype: object
Memphis, Tennessee
Ticker symbol                       FDX
Date first added    1980-12-31 00:00:00
Name: 184, dtype: object
Menlo Park, California
Ticker symbol                        FB
Date first added    2013-12-23 00:00:00
Name: 181, dtype: object
Miami, Florida
Ticker symbol                         R
Date first added    1982-12-31 00:00:00
Name: 395, dtype: object
Miamisburg, Ohio
Ticker symbol                       TDC
Date first added    2007-10-01 00:00:00
Name: 428, dtype: object
Midland, Texas
Ticker symbol                       CXO
Date first added    2016-02-22 00:00:00
Name: 119, dtype: object
Milwaukee, Wisconsin
Ticker symbol                       WEC
Date first added    2008-10-31 00:00:00
Name: 482, dtype: object
Minneapolis, Minnesota
Ticker symbol                       TGT
Date first added    1976-12-31 00:00:00
Name: 425, dtype: object
Minnetonka, Minnesota
Ticker symbol                       UNH
Date first added    1994-07-01 00:00:00
Name: 459, dtype: object
Mooresville, North Carolina
Ticker symbol                       LOW
Date first added    1984-02-29 00:00:00
Name: 281, dtype: object
Morristown, New Jersey
Ticker symbol                       HON
Date first added    1964-03-31 00:00:00
Name: 230, dtype: object
Mountain View, California
Ticker symbol                      INTU
Date first added    2000-12-05 00:00:00
Name: 246, dtype: object
Murray Hill, New Jersey
Ticker symbol                       BCR
Date first added    1975-06-30 00:00:00
Name: 61, dtype: object
Nashville, Tennessee
Ticker symbol                       HCA
Date first added    2015-01-27 00:00:00
Name: 222, dtype: object
New Britain, Connecticut
Ticker symbol                       SWK
Date first added    1982-09-30 00:00:00
Name: 414, dtype: object
New Brunswick, New Jersey
Ticker symbol                       JNJ
Date first added    1973-06-30 00:00:00
Name: 253, dtype: object
New York, NY
Ticker symbol                      COTY
Date first added    2016-10-03 00:00:00
Name: 125, dtype: object
New York, New York
Ticker symbol                      ARNC
Date first added    1964-03-31 00:00:00
Name: 48, dtype: object
Newark, Delaware
Ticker symbol                      NAVI
Date first added    2014-05-01 00:00:00
Name: 320, dtype: object
Newton, Massachusetts
Ticker symbol                      TRIP
Date first added    2011-12-21 00:00:00
Name: 448, dtype: object
North Chicago, Illinois
Ticker symbol                       ABT
Date first added    1964-03-31 00:00:00
Name: 1, dtype: object
North Kansas City, Missouri
Ticker symbol                      CERN
Date first added    2010-04-30 00:00:00
Name: 93, dtype: object
Northfield, Illinois
Ticker symbol                      MDLZ
Date first added    2012-10-02 00:00:00
Name: 310, dtype: object
Norwalk, Connecticut
Ticker symbol                      PCLN
Date first added    2009-11-06 00:00:00
Name: 367, dtype: object
Oak Brook, Illinois
Ticker symbol                       MCD
Date first added    1970-06-30 00:00:00
Name: 296, dtype: object
Oakland, California
Ticker symbol                       CLX
Date first added    1969-03-31 00:00:00
Name: 433, dtype: object
Omaha, Nebraska
Ticker symbol                       CAG
Date first added    1983-08-31 00:00:00
Name: 118, dtype: object
Orrville, Ohio
Ticker symbol                       SJM
Date first added    2008-11-06 00:00:00
Name: 252, dtype: object
Palo Alto, California
Ticker symbol                       HPQ
Date first added    1974-12-31 00:00:00
Name: 233, dtype: object
Pasadena, California
Ticker symbol                       JEC
Date first added    2007-10-26 00:00:00
Name: 251, dtype: object
Pawtucket, Rhode Island
Ticker symbol                       HAS
Date first added    1984-09-30 00:00:00
Name: 221, dtype: object
Philadelphia, Pennsylvania
Ticker symbol                        CI
Date first added    1976-06-30 00:00:00
Name: 102, dtype: object
Phoenix, Arizona
Ticker symbol                       RSG
Date first added    2008-12-05 00:00:00
Name: 387, dtype: object
Pittsburgh, Pennsylvania
Ticker symbol                       PNC
Date first added    1988-04-30 00:00:00
Name: 362, dtype: object
Plano, Texas
Ticker symbol                       DPS
Date first added    2008-10-07 00:00:00
Name: 149, dtype: object
Pleasanton, California
Ticker symbol                      ROST
Date first added    2009-12-21 00:00:00
Name: 393, dtype: object
Plymouth, Minnesota
Ticker symbol                       MOS
Date first added    2011-09-26 00:00:00
Name: 436, dtype: object
Princeton, New Jersey
Ticker symbol                       NRG
Date first added    2010-01-29 00:00:00
Name: 337, dtype: object
Providence, Rhode Island
Ticker symbol                       TXT
Date first added    1978-12-31 00:00:00
Name: 431, dtype: object
Radnor, Pennsylvania
Ticker symbol                       LNC
Date first added    1976-06-30 00:00:00
Name: 276, dtype: object
Raleigh, North Carolina
Ticker symbol                       RHT
Date first added    2009-07-27 00:00:00
Name: 384, dtype: object
Redmond, Washington
Ticker symbol                      MSFT
Date first added    1994-06-01 00:00:00
Name: 306, dtype: object
Redwood City, California
Ticker symbol                      EQIX
Date first added    2015-03-20 00:00:00
Name: 169, dtype: object
Redwood Shores, California
Ticker symbol                      ORCL
Date first added    1989-08-31 00:00:00
Name: 344, dtype: object
Richmond, Virginia
Ticker symbol                       KMX
Date first added    2010-06-28 00:00:00
Name: 84, dtype: object
Riverwoods, Illinois
Ticker symbol                       DFS
Date first added    2007-07-02 00:00:00
Name: 141, dtype: object
Roanoke, Virginia
Ticker symbol                       AAP
Date first added    2015-07-09 00:00:00
Name: 7, dtype: object
Rockville, Maryland
Ticker symbol                       FRT
Date first added    2016-02-01 00:00:00
Name: 183, dtype: object
Roseland, New Jersey
Ticker symbol                       ADP
Date first added    1981-03-31 00:00:00
Name: 53, dtype: object
Rotterdam, Netherlands
Ticker symbol                       LYB
Date first added    2012-09-05 00:00:00
Name: 282, dtype: object
Salt Lake City, UT
Ticker symbol                       EXR
Date first added    2016-01-19 00:00:00
Name: 178, dtype: object
San Antonio, Texas
Ticker symbol                       TSO
Date first added    2007-09-27 00:00:00
Name: 429, dtype: object
San Diego, California

# 2. 加入securities.csv~

securities.csv包含了这些股票的基本信息

1. 请列举出各个sector中的加入时间最早的股票名称（10分）
2. 请列举出每一个州中加入时间最晚的股票名称（10分）

In [51]:
import pandas as pd

def top(df, n=3, column='Research and Development'):
    return df.sort_values(by=column)[-n:]

path1 = r'./fundamentals.csv'
path2 = './securities.csv'
data1 = pd.read_csv(path1,parse_dates=[2])
data2 = pd.read_csv(path2,parse_dates=[6])
#按代码作为key进行合并
data3 = pd.merge(data1,data2,left_on = 'Ticker Symbol',right_on = 'Ticker symbol',how = 'outer')
#_group3 = data3.groupby([data3['GICS Sector'],data3['Period Ending']])

data3 = data3.set_index('Period Ending')
data3 = data3['2013':'2016']
#print(data3.columns)
_group3 = data3['Research and Development'].groupby(data3['GICS Sector']).sum()

print(_group3)

_group4 = data3['Research and Development'].groupby([data3['GICS Sector'],data3['Ticker Symbol']]).sum().reset_index()#返回为dataframe

_group4 = _group4[_group4['Research and Development']!=0] # 去除 0 数据行

#_group4 = _group4.sort_values('Research and Development',ascending = False)  不需要排序

_group4 = _group4.groupby(_group4['GICS Sector'])

_group4.apply(top)

#for name,group in _group4:
#    print(name)
#    print(group)


#print(data3.groupby([data3['GICS Sector'],data3['Period Ending']]).sum())

GICS Sector
Consumer Discretionary         1.860178e+09
Consumer Staples               7.150872e+09
Energy                         2.076513e+09
Financials                     2.401300e+08
Health Care                    1.688513e+11
Industrials                    5.533400e+10
Information Technology         3.158830e+11
Materials                      2.061621e+10
Real Estate                    1.162100e+08
Telecommunications Services    0.000000e+00
Utilities                      0.000000e+00
Name: Research and Development, dtype: float64

                                       GICS Sector Ticker Symbol  \
GICS Sector
Consumer Discretionary 27   Consumer Discretionary           HAS
                       24   Consumer Discretionary          GRMN
Consumer Staples       85         Consumer Staples           CPB
                       83         Consumer Staples           CLX
                       102        Consumer Staples            PG
Energy                 123                  Energy            HP
                       113                  Energy           BHI
Financials             190              Financials           USB
Health Care            199             Health Care          AMGN
                       227             Health Care           MRK
                       231             Health Care           PFE
Industrials            251             Industrials           CAT
                       302             Industrials           UTX
                       250             Industrials            BA
Information Technology 306  Information Technology          AAPL
                       343  Information Technology          MSFT
                       335  Information Technology          INTC
Materials              385               Materials           PPG
                       381               Materials           MON
                       372               Materials            DD
Real Estate            415             Real Estate           VNO
                       417             Real Estate            WY

                            Research and Development
GICS Sector
Consumer Discretionary 27               6.730910e+08
                       24               1.187087e+09
Consumer Staples       85               4.910000e+08
                       83               5.320000e+08
                       102              5.804172e+09
Energy                 123              5.751300e+07
                       113              2.019000e+09
Financials             190              2.401300e+08
Health Care            199              1.629000e+10
                       227              2.138700e+10
                       231              2.276100e+10
Industrials            251              8.496000e+09
                       302              9.433000e+09
                       250              1.407600e+10
Information Technology 306              2.862800e+10
                       343              4.582600e+10
                       335              4.701600e+10
Materials              385              1.888000e+09
                       381              6.350000e+09
                       372              7.534000e+09
Real Estate            415              3.221000e+07
                       417              8.400000e+07

# 3. merge!

现在你需要同时处理来自两个表中的信息了

1. 请思考，合并两个表的信息的时候，我们应该用什么样的准则对其它们（10分）
2. 请列举每个sector在2013-2016年累计Research&Development的总投入（10分）
3. 请列举出每个sector中，在2013-2016年累计Research&development投入最大的3家公司的名称以及投入的数值（20分）

In [ ]:
来不及 做了 4

# 4. 现在让我们来看看更加复杂的数据

请导入price.csv，然后结合你的聪明才智回答以下问题（附加题，40分）

假设你是某基金公司的老板，现在对于每只股票，你都专门安排了一位负责它的交易员。公司规定每一位交易员手中的资金要么全部买入要么全部卖出（空仓，转化为现金）。假设2016年每一位交易员手中都有10000美元，假设他们都能够看到2016年全年的数据，假设他们都能抓住每一次机会，那么请问2016年底时，赚钱最多的股票是哪一只，赚了多少钱？